# Concatenate DataFrames

RESTAURANT DATA FRAMES COMBINING AND MERGING

In [8]:
import pandas as pd
import numpy as np

In [20]:
#Userinfo
usercuisine=pd.read_csv(r'C:\Users\Aarav\Desktop\end to end data sets\restaurant-data-with-consumer-ratings\usercuisine.csv')
payment= pd.read_csv(r'C:\Users\Aarav\Desktop\end to end data sets\restaurant-data-with-consumer-ratings\userpayment.csv')
profile=pd.read_csv(r'C:\Users\Aarav\Desktop\end to end data sets\restaurant-data-with-consumer-ratings\userprofile.csv')

# restaurant info
rest_accepts = pd.read_csv(r'C:\Users\Aarav\Desktop\end to end data sets\restaurant-data-with-consumer-ratings\chefmozaccepts.csv')
rest_cuisine = pd.read_csv(r'C:\Users\Aarav\Desktop\end to end data sets\restaurant-data-with-consumer-ratings\chefmozcuisine.csv')
rest_hours   = pd.read_csv(r'C:\Users\Aarav\Desktop\end to end data sets\restaurant-data-with-consumer-ratings\chefmozhours4.csv')
rest_parking = pd.read_csv(r'C:\Users\Aarav\Desktop\end to end data sets\restaurant-data-with-consumer-ratings\chefmozparking.csv')

# Loc and rating info
geo_loc = pd.read_csv(r'C:\Users\Aarav\Desktop\end to end data sets\restaurant-data-with-consumer-ratings\geoplaces2.csv')
rating_final = pd.read_csv(r'C:\Users\Aarav\Desktop\end to end data sets\restaurant-data-with-consumer-ratings\rating_final.csv')

In [21]:
usercuisine.head()

  userID          Rcuisine
0  U1001          American
1  U1002           Mexican
2  U1003           Mexican
3  U1004            Bakery
4  U1004  Breakfast-Brunch

In [22]:
pd.set_option('display.max_columns',25)
geo_loc.head()

,placeID,latitude,longitude,the_geom_meter,name,address,city,state,country,fax,zip,alcohol,smoking_area,dress_code,accessibility,price,url,Rambience,franchise,area,other_services
0,134999,18.915421,-99.184871,0101000020957F000088568DE356715AC138C0A525FC46...,Kiku Cuernavaca,Revolucion,Cuernavaca,Morelos,Mexico,?,?,No_Alcohol_Served,none,informal,no_accessibility,medium,kikucuernavaca.com.mx,familiar,f,closed,none
1,132825,22.147392,-100.983092,0101000020957F00001AD016568C4858C1243261274BA5...,puesto de tacos,esquina santos degollado y leon guzman,s.l.p.,s.l.p.,mexico,?,78280,No_Alcohol_Served,none,informal,completely,low,?,familiar,f,open,none
2,135106,22.149709,-100.976093,0101000020957F0000649D6F21634858C119AE9BF528A3...,El Rincï¿½n de San Francisco,Universidad 169,San Luis Potosi,San Luis Potosi,Mexico,?,78000,Wine-Beer,only at bar,informal,partially,medium,?,familiar,f,open,none
3,132667,23.752697,-99.163359,0101000020957F00005D67BCDDED8157C1222A2DC8D84D...,little pizza Emilio Portes Gil,calle emilio portes gil,victoria,tamaulipas,?,?,?,No_Alcohol_Served,none,informal,completely,low,?,familiar,t,closed,none
4,132613,23.752903,-99.165076,0101000020957F00008EBA2D06DC8157C194E03B7B504E...,carnitas_mata,lic. Emilio portes gil,victoria,Tamaulipas,Mexico,?,?,No_Alcohol_Served,permitted,informal,completely,medium,?,familiar,t,closed,none

In [23]:
# Combining all data frames into one

rest_data= pd.concat([usercuisine,payment,profile,rest_accepts,rest_cuisine,rest_hours,rest_parking,geo_loc,rating_final],ignore_index=True)

pd.set_option('display.max_columns',100)
rest_data.head(10)

,Rambience,Rcuisine,Rpayment,Upayment,accessibility,activity,address,alcohol,ambience,area,birth_year,budget,city,color,country,days,dress_code,dress_preference,drink_level,fax,food_rating,franchise,height,hijos,hours,interest,latitude,longitude,marital_status,name,other_services,parking_lot,personality,placeID,price,rating,religion,service_rating,smoker,smoking_area,state,the_geom_meter,transport,url,userID,weight,zip
0,NaN,American,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,U1001,NaN,NaN
1,NaN,Mexican,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,U1002,NaN,NaN
2,NaN,Mexican,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,U1003,NaN,NaN
3,NaN,Bakery,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,U1004,NaN,NaN
4,NaN,Breakfast-Brunch,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,U1004,NaN,NaN
5,NaN,Japanese,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,U1004,NaN,NaN
6,NaN,Contemporary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,U1004,NaN,NaN
7,NaN,Mexican,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,U1004,NaN,NaN
8,NaN,Bagels,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,U1004,NaN,NaN
9,NaN,Cafe-Coffee_Shop,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,U1004,NaN,NaN

In [24]:
frames = [usercuisine,payment,profile,rest_accepts,rest_cuisine,rest_hours,rest_parking,geo_loc,rating_final]
rest_keys = pd.concat(frames, keys = ['usr_cu','pay','pro','rst_accpt','rst_cu','rst_hrs','rst_prkg','glc','rating_fnl'])

In [25]:
pd.set_option('display.max_columns',50)
rest_keys.head()

         Rambience          Rcuisine Rpayment Upayment accessibility activity  \
usr_cu 0       NaN          American      NaN      NaN           NaN      NaN
       1       NaN           Mexican      NaN      NaN           NaN      NaN
       2       NaN           Mexican      NaN      NaN           NaN      NaN
       3       NaN            Bakery      NaN      NaN           NaN      NaN
       4       NaN  Breakfast-Brunch      NaN      NaN           NaN      NaN

         address alcohol ambience area  birth_year budget city color country  \
usr_cu 0     NaN     NaN      NaN  NaN         NaN    NaN  NaN   NaN     NaN
       1     NaN     NaN      NaN  NaN         NaN    NaN  NaN   NaN     NaN
       2     NaN     NaN      NaN  NaN         NaN    NaN  NaN   NaN     NaN
       3     NaN     NaN      NaN  NaN         NaN    NaN  NaN   NaN     NaN
       4     NaN     NaN      NaN  NaN         NaN    NaN  NaN   NaN     NaN

         days dress_code dress_preference drink_level  fax  food_rating  \
usr_cu 0  NaN        NaN              NaN         NaN  NaN          NaN
       1  NaN        NaN              NaN         NaN  NaN          NaN
       2  NaN        NaN              NaN         NaN  NaN          NaN
       3  NaN        NaN              NaN         NaN  NaN          NaN
       4  NaN        NaN              NaN         NaN  NaN          NaN

         franchise  height hijos hours interest  latitude  longitude  \
usr_cu 0       NaN     NaN   NaN   NaN      NaN       NaN        NaN
       1       NaN     NaN   NaN   NaN      NaN       NaN        NaN
       2       NaN     NaN   NaN   NaN      NaN       NaN        NaN
       3       NaN     NaN   NaN   NaN      NaN       NaN        NaN
       4       NaN     NaN   NaN   NaN      NaN       NaN        NaN

         marital_status name other_services parking_lot personality  placeID  \
usr_cu 0            NaN  NaN            NaN         NaN         NaN      NaN
       1            NaN  NaN            NaN         NaN         NaN      NaN
       2            NaN  NaN            NaN         NaN         NaN      NaN
       3            NaN  NaN            NaN         NaN         NaN      NaN
       4            NaN  NaN            NaN         NaN         NaN      NaN

         price  rating religion  service_rating smoker smoking_area state  \
usr_cu 0   NaN     NaN      NaN             NaN    NaN          NaN   NaN
       1   NaN     NaN      NaN             NaN    NaN          NaN   NaN
       2   NaN     NaN      NaN             NaN    NaN          NaN   NaN
       3   NaN     NaN      NaN             NaN    NaN          NaN   NaN
       4   NaN     NaN      NaN             NaN    NaN          NaN   NaN

         the_geom_meter transport  url userID  weight  zip
usr_cu 0            NaN       NaN  NaN  U1001     NaN  NaN
       1            NaN       NaN  NaN  U1002     NaN  NaN
       2            NaN       NaN  NaN  U1003     NaN  NaN
       3            NaN       NaN  NaN  U1004     NaN  NaN
       4            NaN       NaN  NaN  U1004     NaN  NaN

In [26]:
rest_keys.loc['pay'].head()

,Rambience,Rcuisine,Rpayment,Upayment,accessibility,activity,address,alcohol,ambience,area,birth_year,budget,city,color,country,days,dress_code,dress_preference,drink_level,fax,food_rating,franchise,height,hijos,hours,interest,latitude,longitude,marital_status,name,other_services,parking_lot,personality,placeID,price,rating,religion,service_rating,smoker,smoking_area,state,the_geom_meter,transport,url,userID,weight,zip
0,NaN,NaN,NaN,cash,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,U1001,NaN,NaN
1,NaN,NaN,NaN,cash,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,U1002,NaN,NaN
2,NaN,NaN,NaN,cash,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,U1003,NaN,NaN
3,NaN,NaN,NaN,cash,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,U1004,NaN,NaN
4,NaN,NaN,NaN,bank_debit_cards,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,U1004,NaN,NaN

In [29]:
rest_dict_keys={'usr_cu':usercuisine,
               'pay':payment,
               'pro':profile,
               'rst_accpt':rest_accepts,
                'rst_cu':rest_cuisine,
                'rst_hrs':rest_hours,
                'rst_prkg':rest_parking,
                'glc':geo_loc,
                'rating_fnl':rating_final}

In [30]:
rest_keys_frame=pd.concat(rest_dict_keys)
rest_keys_frame.head()

      Rambience Rcuisine Rpayment Upayment     accessibility activity  \
glc 0  familiar      NaN      NaN      NaN  no_accessibility      NaN
    1  familiar      NaN      NaN      NaN        completely      NaN
    2  familiar      NaN      NaN      NaN         partially      NaN
    3  familiar      NaN      NaN      NaN        completely      NaN
    4  familiar      NaN      NaN      NaN        completely      NaN

                                      address            alcohol ambience  \
glc 0                              Revolucion  No_Alcohol_Served      NaN
    1  esquina santos degollado y leon guzman  No_Alcohol_Served      NaN
    2                         Universidad 169          Wine-Beer      NaN
    3                 calle emilio portes gil  No_Alcohol_Served      NaN
    4                  lic. Emilio portes gil  No_Alcohol_Served      NaN

         area  birth_year budget             city color country days  \
glc 0  closed         NaN    NaN       Cuernavaca   NaN  Mexico  NaN
    1    open         NaN    NaN           s.l.p.   NaN  mexico  NaN
    2    open         NaN    NaN  San Luis Potosi   NaN  Mexico  NaN
    3  closed         NaN    NaN        victoria    NaN       ?  NaN
    4  closed         NaN    NaN         victoria   NaN  Mexico  NaN

      dress_code dress_preference drink_level fax  food_rating franchise  \
glc 0   informal              NaN         NaN   ?          NaN         f
    1   informal              NaN         NaN   ?          NaN         f
    2   informal              NaN         NaN   ?          NaN         f
    3   informal              NaN         NaN   ?          NaN         t
    4   informal              NaN         NaN   ?          NaN         t

       height hijos hours interest   latitude   longitude marital_status  \
glc 0     NaN   NaN   NaN      NaN  18.915421  -99.184871            NaN
    1     NaN   NaN   NaN      NaN  22.147392 -100.983092            NaN
    2     NaN   NaN   NaN      NaN  22.149709 -100.976093            NaN
    3     NaN   NaN   NaN      NaN  23.752697  -99.163359            NaN
    4     NaN   NaN   NaN      NaN  23.752903  -99.165076            NaN

                                 name other_services parking_lot personality  \
glc 0                 Kiku Cuernavaca           none         NaN         NaN
    1                 puesto de tacos           none         NaN         NaN
    2      El Rincï¿½n de San Francisco           none         NaN         NaN
    3  little pizza Emilio Portes Gil           none         NaN         NaN
    4                   carnitas_mata           none         NaN         NaN

        placeID   price  rating religion  service_rating smoker smoking_area  \
glc 0  134999.0  medium     NaN      NaN             NaN    NaN         none
    1  132825.0     low     NaN      NaN             NaN    NaN         none
    2  135106.0  medium     NaN      NaN             NaN    NaN  only at bar
    3  132667.0     low     NaN      NaN             NaN    NaN         none
    4  132613.0  medium     NaN      NaN             NaN    NaN    permitted

                 state                                     the_geom_meter  \
glc 0          Morelos  0101000020957F000088568DE356715AC138C0A525FC46...
    1           s.l.p.  0101000020957F00001AD016568C4858C1243261274BA5...
    2  San Luis Potosi  0101000020957F0000649D6F21634858C119AE9BF528A3...
    3       tamaulipas  0101000020957F00005D67BCDDED8157C1222A2DC8D84D...
    4       Tamaulipas  0101000020957F00008EBA2D06DC8157C194E03B7B504E...

      transport                    url userID  weight    zip
glc 0       NaN  kikucuernavaca.com.mx    NaN     NaN      ?
    1       NaN                      ?    NaN     NaN  78280
    2       NaN                      ?    NaN     NaN  78000
    3       NaN                      ?    NaN     NaN      ?
    4       NaN                      ?    NaN     NaN      ?

In [31]:
rest_col = pd.concat([usercuisine,payment,profile],axis=1)

In [32]:
rest_col.head()

,userID,Rcuisine,userID,Upayment,userID,latitude,longitude,smoker,drink_level,dress_preference,ambience,transport,marital_status,hijos,birth_year,interest,personality,religion,activity,color,weight,budget,height
0,U1001,American,U1001,cash,U1001,22.139997,-100.978803,false,abstemious,informal,family,on foot,single,independent,1989.0,variety,thrifty-protector,none,student,black,69.0,medium,1.77
1,U1002,Mexican,U1002,cash,U1002,22.150087,-100.983325,false,abstemious,informal,family,public,single,independent,1990.0,technology,hunter-ostentatious,Catholic,student,red,40.0,low,1.87
2,U1003,Mexican,U1003,cash,U1003,22.119847,-100.946527,false,social drinker,formal,family,public,single,independent,1989.0,none,hard-worker,Catholic,student,blue,60.0,low,1.69
3,U1004,Bakery,U1004,cash,U1004,18.867000,-99.183000,false,abstemious,informal,family,public,single,independent,1940.0,variety,hard-worker,none,professional,green,44.0,medium,1.53
4,U1004,Breakfast-Brunch,U1004,bank_debit_cards,U1005,22.183477,-100.959891,false,abstemious,no preference,family,public,single,independent,1992.0,none,thrifty-protector,Catholic,student,black,65.0,medium,1.69

# MERGING DATA DRAMES

In [40]:
rest_merge = pd.merge(usercuisine, payment , on = 'userID')

In [41]:
rest_merge1 = pd.merge(usercuisine, payment , on = 'userID')

In [42]:
rest_merge.head()

  userID  Rcuisine          Upayment
0  U1001  American              cash
1  U1002   Mexican              cash
2  U1003   Mexican              cash
3  U1004    Bakery              cash
4  U1004    Bakery  bank_debit_cards

In [43]:
# full outer join

rest_full_outer_join=pd.merge(rest_accepts,rest_cuisine, on='placeID', how='outer')

In [45]:
rest_full_outer_join.head()

   placeID             Rpayment Rcuisine
0   135110                 cash  Spanish
1   135110                 VISA  Spanish
2   135110  MasterCard-Eurocard  Spanish
3   135110     American_Express  Spanish
4   135110     bank_debit_cards  Spanish

In [46]:
rest_inner_join = pd.merge(rest_accepts, rest_cuisine, on='placeID', how='inner')

In [47]:
rest_inner_join.head()

   placeID             Rpayment Rcuisine
0   135110                 cash  Spanish
1   135110                 VISA  Spanish
2   135110  MasterCard-Eurocard  Spanish
3   135110     American_Express  Spanish
4   135110     bank_debit_cards  Spanish

In [48]:
rest_right_join=pd.merge(rest_accepts,rest_cuisine,on = 'placeID', how='right')

In [49]:
rest_right_join.head()

   placeID             Rpayment Rcuisine
0   135110                 cash  Spanish
1   135110                 VISA  Spanish
2   135110  MasterCard-Eurocard  Spanish
3   135110     American_Express  Spanish
4   135110     bank_debit_cards  Spanish

In [50]:
rest_left_join=pd.merge(rest_accepts,rest_cuisine,on = 'placeID', how='left')

In [51]:
rest_left_join.head()

   placeID             Rpayment Rcuisine
0   135110                 cash  Spanish
1   135110                 VISA  Spanish
2   135110  MasterCard-Eurocard  Spanish
3   135110     American_Express  Spanish
4   135110     bank_debit_cards  Spanish

#JOINING ON INDEX

In [52]:
rest_index_df = pd.merge(rest_accepts, rest_cuisine, right_index=True, left_index=True)

In [53]:
rest_index_df.head()

   placeID_x             Rpayment  placeID_y        Rcuisine
0     135110                 cash     135110         Spanish
1     135110                 VISA     135109         Italian
2     135110  MasterCard-Eurocard     135107  Latin_American
3     135110     American_Express     135106         Mexican
4     135110     bank_debit_cards     135105       Fast_Food